<form class="login-form" fxLayout="column" fxLayoutAlign="center center" [formGroup]="loginForm"
    (submit)="onSubmit($event)">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput id="username" placeholder="Enter your username" [formControl]="usernameControl">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput id="password" type="password" placeholder="Enter your password"
                    [formControl]="passwordControl">
            </mat-form-field>

            <!-- Esto debe aparecer cuando se loguea mal -->
            <mat-error *ngIf="errorMessage">
                {{errorMessage}}
            </mat-error>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button id="login" color="primary" type="submit">Login</button>
        </mat-card-actions>
    </mat-card>
</form>

<!-- card en el footer que diga diseñado por Jorge Lopez -->

<footer class="footer">
    <mat-card class="footer-card">
        <mat-card-content>
            <p>Designed by Jorge Lopez</p>
        </mat-card-content>
    </mat-card>
</footer>